---
import { CategoryData } from '../lib/types.js';
import { getContrast } from '../lib/helpers/get-contrast.js';

export interface Props {
  category: CategoryData;
}

const { category } = Astro.props as Props;
const { color, icon, title } = category;

const backgroundColor = color ?? '#e5e7eb';
---

<div
  class="[ category-badge ] [ br-md ] [ px-300 ]"
  style={`--bg: ${backgroundColor}; --color: ${getContrast(backgroundColor)}`}
>
  {icon && (
    <span role="img" aria-label={icon.description}>
      {icon.emoji}
    </span>
  )}

  {title}
</div>

<style lang="scss">
  .category-badge {
    background-color: var(--bg);
    color: var(--color);

    span {
      margin-right: var(--s-300);
    }
  }
</style>
