---
import { differenceInDays, format, formatDistanceToNow } from 'date-fns';
import locale from 'date-fns/locale/nl';

import * as sanity from '../lib/sanity.js';
import { PostData } from '../lib/types.js';
import { getCategoryUrl } from '../lib/helpers/get-category-url.js';

import CategoryBadge from './category-badge.astro';
import { Image } from './image/image.jsx';
import { PostBody } from './post-body/post-body.jsx';

export type Props = PostData;

const { body, categories, mainImage, publishedAt, title } = Astro.props as Props;

const formattedDate = publishedAt
  ? (differenceInDays(new Date(publishedAt), new Date()) > 3
      ? formatDistanceToNow(new Date(publishedAt), { locale })
      : format(new Date(publishedAt), 'd MMMM yyyy', { locale }))
  : null;
---

<Image {...mainImage} maxHeight="50vh" />

<article class="[ post ] [ container flow ] [ p-500 ]">
  <h1 class="[ lh-none ]">{title}</h1>

  {(!!formattedDate) && <time datetime={publishedAt}>{formattedDate}</time>}

  {!!categories?.length && (
    <ul class="[ post__categories ] [ cluster ] [ ls-n ]">
      {categories.map((category) => (
        <li>
          <CategoryBadge category={category} />
        </li>
      ))}
    </ul>
  )}

  <PostBody body={body} />
</article>

<style lang="scss" global>
  .post {
    --flow-gap: var(--s-600);

    &__categories,
    time {
      --flow-gap: var(--s-200);
    }

    time {
      font-style: italic;
    }

    :is(h2, h3) {
      --flow-gap: var(--s-900);
    }

    :is(h2, h3) + * {
      --flow-gap: var(--s-400);
    }

    > figure {
      margin-right: calc(var(--s-400) * -1);
      margin-left: calc(var(--s-400) * -1);
    }

    > figure,
    > figure + * {
      --flow-gap: var(--s-900);
    }
  }
</style>
